@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
html{
  height: 100%;
}
body {
  background: #30343F;
  margin: 0;
  height: 100%;
}

/* App & Main pages */
.App{
  width: 100%;
  height: 100%;
}
.navbar{
  height: 5em;
  overflow-y: hidden;
}
.pages{
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.library{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  font-family: 'Silkscreen', cursive;
}
.home{
  height: 90vh;
}
.upload{
  height: 90vh;
}

/* Components */

/* NAVBAR */
header a {
  color: #c6c5b6;
  text-decoration: none;
}
.navbar > nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4.1em;
  background-color:#2a2e3a;
  font-family: 'Silkscreen', cursive;
  font-weight: 400;
  font-size: 1.2em;
}
.navbar > nav > a{
  margin: 1em 1em;
  width: 10%;
  height: 1.8em;
  padding: 0.5em 0.5em 0em 2.5em;
  border: solid #2a2e3a 2px;
}
.navbar > nav > a:hover{
  background-color:#30343F;
  border: solid #c6c5b6 2px;
}
.navbar > nav > ul{
  display: flex;
  flex-direction: row;
  list-style-type:none;
  justify-content: right;
  width: 60%;
  min-height: 1.8em;
  margin: 1em 1em 0 0;
}
nav > ul > li{
  height: 1.8em;
  padding: 0 1em;
  margin: 0;
}
nav > ul > li > a{
  display: block;
  vertical-align: middle;
  padding: 0.5em 1em;
  height: 70%;
  border: solid #2a2e3a 2px;
}
nav > ul > li > a:hover{
  background-color:#30343F;
  border: solid #c6c5b6 2px;
}
.navbar-mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
  height: 2.4em;
  width: 92%;
  position: fixed;
  background-color: #30343F;
}
.mobile-fixed-container{
  position: fixed;
  left: 0;
}
.mobile-menu-container > i {
  font-size: 2em;
  padding: 0.1em;
  height: 100%;
}
.mobile-menu-container.opened > i{
  color: #c6c5b6;
}
.mobile-menu{
  margin: 0 0 0 -1em;
  width: 100vw;
  height: 18vh;
  background-color: #30343F;
  padding: 1.5em;
  border-radius: 0 0 9px 0;
  list-style-type: none;
  font-size: 1.4em;
  line-height: 2em;
  font-family: 'Silkscreen', cursive;
  border: solid #c6c5b6 1px;
}
.mobile-menu:active{
  background-color: #5d5c52;
}
/* LIBRARY */

/* LIB - SEARCH PANEL */
.searchbar-container{
  min-width: 25%;
  padding: 1.5em;
  background-color: #22252d;
}
.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form > label{
  display: block;
  text-align: center;
  height: 3em;
  font-size: 1.5em;
  color:#c6c5b6;
}
.search-input{
  width: 80%;
  background-color: #18191a;
  border: solid #30343F 2px;
  height: 2em;
  border-radius: 5px;
  display: block;
  color:#c6c5b6;
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.2em;
}
.search-input:hover{
  border: solid #c6c5b6 2px;
}
.search-button{
  background-color:#555862;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  padding-top: 0.6em;
  width: 6em;
  height: 2em;
  color: #c6c5b6;
  font-family: 'Silkscreen', cursive;
  font-size: 1.5em;
  text-align: center;
}
.search-button:hover{
  background-color: #7b7e87;
}
.search-button:active{
  background-color: #6995C7;
}
.search-type{
  color: #c6c5b6;
  font-size: 2em;
  margin-bottom: 1em;
}
.toggled-off{
  color:#555862;
}
.bad-search-response{
  width: 100%;
  margin: 3em auto;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.filters-title{
  margin-top: 3em;
  color: #c6c5b6;
  text-align: center;
  
}
.filters-grid{
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 15em;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
.filter-results{
  width: 5em;
  height: 6em;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #969478;
}
.filter-results > *{
  height: 100%;
  width: 100%;
}
.filter-icons > i{
  font-size: 2.6em;
  padding: .32em;
  color: #686544;
  border: solid #918f78 2px;
  border-radius: 5px;
}
.filter-icons > i:hover{
  border: solid #c6c5b6 2px;
}

/* LIB - SEARCH RESULTS CONTAINER */
.lib-slip-container{
  overflow-y:scroll;
  overflow-x:hidden;
  width: 100%;
}
.lib-slip-cell{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 98.5%;
  min-height: 20%;
  line-height: 1em;
  padding-left: 1em;
  color:#c6c5b6;
  border-bottom: solid #606056 1px;
  margin-bottom: 0.3em;
}
.lib-slip-cell:hover{
  background-color:#3d3f48;
  border-bottom: solid rgb(158, 146, 146) 1px;
}
.lib-slip-cell-data{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  padding-left: 2%;
}
.lib-slip-group{
  width: 100%;
}
.lib-slip-links-cont{
  width: 8%;
  height: 100%;
}
.lib-slip-belongs{
  font-size: 0.8em;
  width: 100%;
  margin: -1em 0 0 0.4em;
  color:#a1a196;
}
.username-link{
  color: #c5c18f;
}
.lib-slip-title{
  color: #ceccb4;
  width: 100%;
  font-size: 1.4em;
  font-family: 'Silkscreen', cursive;
}
.lib-slip-desc{
  font-family: 'Silkscreen', cursive;
  color: #8d8c81;
  font-size: 1.2em;
  margin: 0.4em 0 0 1em;
  width: 90%;
  line-height: 1.2em;
}
.lib-slip-date{
  color: #8d8c81;
  font-size: 0.8em;
}
.lib-player-container{
  width: 40%;
  height: 30%;
  margin-top: 1em;
  padding: 1em;
}
.lib-player-container i{
  font-size: 2.5em;
}
.lib-download{
  display: block;
  width: 60%;
  padding-left: 20%;
}
.lib-download i{
  color: #37436e;
  font-size: 2em;
}
.lib-download i:hover{
  color: #c6c5b6; 
}
.lib-slip-last-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
}
.lib-slip-last-line > i{
  padding: 1.4%;
}
.lib-slip-last-line > div{
  display: flex;
  flex-direction: row;
  height: 1.2em;
  margin: 0.3em 0.5em;
  border: solid #c6c5b6 2px;
  border-radius: 5px;
  padding: 0.3em;
}
.lib-slip-last-line > div > * {
  height: 100%;
  margin: 0.1em 0.5em;
}


/* USER PROFILE */

/* user profile soundslips */
.all-user-soundslips{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
}
.public-soundslips{
  font-family: 'Silkscreen', cursive;
  color:#c6c5b6;
}
.private-soundslips{
  font-family: 'Silkscreen', cursive;
  color:#aaa88e;
}
.user-slip-cell-cont{
  height: 81vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* user profile main container */
.soundslip-container-user{
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 0.8em;
  border-bottom: solid #44433c 1px;
  margin-bottom: 0.3em;
}
.soundslip-container-user:hover{
  background-color: #3e4048;
}
.all-user-soundslips > section{
  width: 45vw;
}
.slip-panel{
  display: flex;
  flex-direction: row;
}
.slip-panel > div + div{
  width: 90%;
}
.soundslip-topline{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1em;
}
.soundslip-topline > .soundslip-title{
  font-size: 1.3em;
}
.user-slip-details{
  margin-left: 1em;
}
.user-slip-details > .soundslip-desc{
  margin-top: 0;
  padding: 0 0.4em;
  font-size: 1em;
  line-height: 1em;
  color:#7b7966
}
.user-slip-last-line{
  display: flex;
  flex-direction: row;
  min-height: 2.5em;
  line-height: 1em;
  width: 100%;
  justify-content: space-between;
}
.user-slip-tag-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 1.5em;
  margin: 0 0.4em;
  padding: 0.5em;
  border-radius: 5px;
  width: 6em;
  border: solid #aaa88e 2px;
}
.user-slip-tag-group > i{
  font-size: 1.3em;
}
.user-slip-tag-group > h4{
  height: 0.9em;
  margin: 0.2em;
}
.user-slip-details > .soundslip-date{
  font-size: 0.8em;
}
.soundslip-topline i{
  font-size: 1.6rem;
}
.soundslip-actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 8%;
}
.soundslip-actions > *{
  padding: 0.9rem 0.5em;
  margin: 0;
}
.user-player-section{
  width: 10%;
}
.user-audio-player{
  height: 50%;
}
.user-audio-player > span > i{
  font-size: 2.2em;
  padding: 0.5em;
}
.user-player-section > a{
  display: none;
}
.user-player-section > a.user-download{
  display: block;
  width: 100%;
  height: 50%;
}
.user-player-section > a.user-download > i{
  font-size: 2em;
  margin: 0.4em 0.5em;
  color: #37436e;
}
.user-player-section > a.user-download > i:hover{
  color: #cbbfae;
}
.edit-container{
  background-color: #383c4d;
  border: solid 2px #a6957e;
  border-radius: 5px;
}
.edit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.6em;
}
.edit-form > *{
  padding: 0.5em 0;
  width: 90%;
}
.edit-form > label > input, textarea{
  display: block;
  margin: 0.6em 0;
  width: 97%;
  height: 5vh;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  border: solid #cbbfae 2px;
  background-color: #191a1f;
  color: #cbbfae;
  font-family: 'Silkscreen', cursive;
}
.edit-form > label > textarea{
  height: 5em;
  font-size: 1.1em;
}
.edit-form > label > input:not(.edit-public){
  font-size: 1.1em;
}
.edit-submit{
  color: #5b5a4f;
  background-color: #cbbfae;
  height: 5vh;
  width: 30%;
  border-radius: 5px;
  margin: 3em 0;
  font-family: 'Silkscreen', cursive;
}
.is-editing{
  background-color: #cbbfae
}
/* LIB PLAYER */
.fa-pause{
  font-size: 2rem;
}
.fa-play{
  font-size: 2rem;
}
.delete-dialog-cont{
  background-color: #5b5a4f;
  line-height: 1em;
  font-size: 0.7em;
  color: white;
  text-align: center;
  padding: 0.8em 0;
}
.delete-dialog-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.delete-dialog-button{
  border: none;
  font-family: 'Silkscreen', cursive;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  background-color: #cbbfae;
}


/* UPLOAD PAGE */
.upload{
  width: 100%;
}
.upload-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
  font-family: 'Silkscreen', cursive;
  color:#c6c5b6;
  overflow-y: scroll;
  overflow-x: hidden;
}
.create-new{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.create-new > label{
  text-align: center;
  margin: 1.4em 0;
}
.file-upload{
  height: 6vh;
  width: 30%;
  margin: auto;
  padding: 1% 0;
  /* SEE THE BOOKMARKED THING ON STYLING FILE INPUTS */
}
.file-upload-text{
  text-align: center;
}
.upload-text{
  background-color:#c6c5b6;
  border: solid #c6c5b6 3px;
  border-radius: 5px;
  margin: 0 auto;
  width: 75%;
  height: 6vh;
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.2em;
  padding-left: 1em;
  color: #5b5a4f;
}
.upload-text:hover{
  border: solid white 3px;
}
.upload-text:only-of-type{
  height: 11vh;
  padding: 1vh;
}
.upload-checkbox{
  margin: 1vh 0 4vh 0;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  /* needs custom styling also */
}
.upload-button{
  margin: auto;
  height: 6vh;
  width: 30%;
  background-color: #9d9b86;
  border-radius: 5px;
  margin-bottom: 5em;
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.5em;
  color: #c6c5b6;
}
.public-label{
  margin-top: 2em;
  text-align: center;
}
.public-label input {
  display: block;
  margin: 1em auto;
  -ms-transform: scale(2);
  -moz-transform: scale(2); 
  -webkit-transform: scale(2); 
  -o-transform: scale(2); 
  transform: scale(2);
}
.upload-tags-grid{
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 8em;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

/* CLERK STUFF */

.cl-userButtonAvatarBox{
  width: 3rem;
  height: 3rem;
}

/* ICONS ETC */
.download{
  border: solid green 1px;
}
.download i{
  font-size: 2rem;
}


@media all and (max-width: 990px){
  .navbar{
    height: 10vh;
    width: 100%;
  }
  .navbar > nav{
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-size: 1em;
  }
  .navbar > nav > a{
    margin: 1em 1em;
    width: 22%;
    height: 1.4em;
    padding: 0.4em;
  }
  .navbar > nav > ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: space-around;
    width: 40%;
    height: 1.8em;
    margin: 1em 0em 0 0;
    border: solid #2a2e3a 1px; 
  }
  .navbar > nav > ul > li{
    width: 10%;
  }
  .library{
    margin: 3.4em 0;
    flex-direction: column;
    height: 190vh;
    overflow-y: scroll;
  }
  .upload{
    margin: 3.4em 0;
  }
  .home{
    margin: 3.4em 0 0 0;
  }
  .public-soundslips > h2{
    padding: 1em;
    height: 2em;
    color: #2a2e3a;
    background-color: #aaa88e;
    margin: 0 0;
  }
  .private-soundslips > h2{
    margin-left: 0;
    padding: 1em;
    height: 2em;
    color: #2a2e3a;
    background-color: #aaa88e;
    margin: 0 0;
  }
  .searchbar-container{
    max-width: 100vw;
    height: 90vh;
  }
  .filters-title{
    margin-top: 0.7em;
  }
  .lib-slip-cell{
    max-width: 100%;
    min-height: 25%;
    line-height: 1.2em;
    padding-left: 0em;
    justify-content: space-between;
  }
  .lib-slip-cell-data{
    width: 80%;
  }
  .lib-slip-last-line{
    font-size: 1em;
    min-height: 3.5em;
  }
  .lib-slip-last-line > div{
    margin-top: 1em;
  }
  .lib-download{
    width: 100%;
    padding-left: 0;
    margin: 25% 0 0 45%;
  }
  .lib-download i{
    color: #37436e;
    font-size: 2.4em;
  }
  .cl-userButtonAvatarBox{
    width: 2.5rem;
    height: 2.5rem;
  }
  .create-new{
    width: 100%;
  }
  .create-new > label{
    text-align: center;
    margin: 0.5em 0;
  }
  .file-upload{
    height: 8vh;
    width: 50%;
  }
  .upload-button{
    margin: 5em auto 2em auto;
    height: 6vh;
    width: 30%;
    background-color: #9d9b86;
    border-radius: 5px;
  }
  .home{
    height: 190vh;
  }
  .all-user-soundslips{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 190vh;
  }
  .user-slip-cell-cont{
    width: 100vw;
    min-height: 60vh;
  }
  .soundslip-container-user{
    line-height: 1em;
    border-bottom: solid #44433c 1px;
    margin-bottom: 0.3em;
    min-height: 10em;
  }
  .all-user-soundslips > section{
    width: 100vw;
  }
  .slip-panel{
    min-height: 100%;
  }
  .slip-panel > div{
    width: 15%;
  }
  .slip-panel > div + div{
    width: 85%;
    height: 100%;
  }
  .soundslip-topline{
    width: 92%;
  }
  .user-slip-details{
    display: block;
    height: 100%;
  }
  .user-slip-last-line{
    font-size: 0.8em;
    height: 5em;
  }
  .user-slip-tag-group{
    margin-top: 1em;
    height: 1.5em;
  }
}
/* @media screen and (min-width: 480px) and (max-width: 540px){
  .navbar{
    height: 9vh;
  }
  .library{
    flex-direction: column;
    height: 190vh;
  }
  .searchbar-container{
    height: 60vh;
  }
  .filters-title{
    margin-top: 0.7em;
  }
  .filters-grid{
    width: 70%;
    margin: auto;
  }
  .lib-slip-cell{
    max-width: 100%;
    min-height: 20%;
    line-height: 1.2em;
    padding-left: 0em;
    justify-content: space-between;
  }
  .lib-slip-cell-data{
    width: 80%;
  }
  .lib-download{
    width: 100%;
    padding-left: 0;
    margin: 25% 0 0 45%;
  }
  .lib-download i{
    color: #37436e;
    font-size: 2.4em;
  }
  .create-new{
    width: 100%;
  }
  .create-new > label{
    text-align: center;
    margin: 0.5em 0;
  }
  .file-upload{
    height: 8vh;
    width: 50%;
  }
  .upload-button{
    margin: 5em auto 2em auto;
    height: 6vh;
    width: 30%;
    background-color: #9d9b86;
    border-radius: 5px;
  }
  .home{
    height: 190vh;
  }
  .all-user-soundslips{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 190vh;
  }
  .user-slip-cell-cont{
    width: 100vw;
    height: 80vh;
  }
  .soundslip-container-user{
    line-height: 1em;
    border-bottom: solid #44433c 1px;
    margin-bottom: 0.3em;
    min-height: 30vh;
  }
  .all-user-soundslips > section{
    width: 100vw;
  }
  .slip-panel{
    max-height: 35vh;
  }
  .slip-panel > div{
    width: 15%;
  }
  .slip-panel > div + div{
    width: 85%;
  }
  .soundslip-topline{
    width: 92%;
  }
} */
/* @media screen and (min-width: 540px) and (max-width: 640px){
}
@media screen and (min-width: 640px) and (max-width: 800px){
}
@media screen and (min-width: 990px) and (max-width: 1350px){
 
} */